**/.vs/*
**/.idea/*

**/*.obj
**/*.cod
**/*.idb
**/*.pch
**/*.res
**/*.htm
**/*.FileListAbsolute.txt
**/*.exp
**/*.tlog
**/*.log
**/*.pdb
**/*.cod
**/*_i.c
**/*.idl
**/*.rgs
**/*.recipe
**/*.idl
**/*.tlb
**/Release/*
**/Debug/*
**/*.exe
**/*.lib